<header >
	<div id="header1">
		<img style="float: left" src="/images/call.png">
		<a id="call" style="float: left">
			<span style="color:red">Hotline: 1800-123-456</span>
		</a>
		{{#if user}}
		{{#each user}}
		{{!-- <a id="login" style="float: right;" href="/user/signout">
			<span style="color:#090909">Đăng xuất</span>
		</a>
		<img style="float: right" src="/images/login.png"> 
		 --}}
		<!-- <a id="contact" style="float: right;" href="/user/profile/{{this._id}}"><span style="color:#090909">{{this.email}}</span></a>
					
					<img style="float: right" src="/images/contact.png"> -->
		{{!-- <div class="dropdown">
			<a style="float: right;" class="btn btn-default dropdown-toggle" type="text" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
			    aria-expanded="true">
				{{this.tenKhachHang}}
				<img style="float: right" src="/images/contact.png">
				<span class="caret"></span>
			</a>
			<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
				<li >
					<a href="/user/profile/{{this._id}}">Thông tin Tài khoản</a>
				</li>
				<li>
					<a href="/user/profile/lichsudathang/{{this._id}}">Lịch sử giao dịch</a>
				</li>
			</ul>
		</div> --}}
		
		<div style="float: right" class="dropdown">
			<a id="account" href="" class="dropdown-toggle" data-toggle="dropdown"><img  src="/images/contact.png">{{this.tenKhachHang}}
				<b class="caret"></b>
			</a>
			<ul  class="dropdown-menu">
				<li>
					<a href="/user/profile/{{this._id}}">Thông tin tài khoản</a>
				</li>
				<li>
					<a href="/user/profile/lichsudathang/{{this._id}}">Lịch sử đặt hàng</a>
				</li>
				<li>
					<a href="/user/signout">Đăng xuất</a>
				</li>
			</ul>
		</div>

		{{/each}} 
		{{else}}
		<a id="login" style="float: right;" href="/user/signin">
			<span style="color:white">Đăng nhập</span>
		</a>
		<img style="float: right" src="/images/login.png">
		<a id="contact" style="float: right;" href="/user/signup">
			<span style="color:white">Đăng kí</span>
		</a>
		<img style="float: right" src="/images/contact.png"> {{/if}}
	</div>
	<div id="header2">
		<div class="col-xs-12 col-sm-6 col-md-4">
			<form action="/timkiem" method="GET">
				<div class="input-group" >
					<input type="text" class="form-control" placeholder="Tìm kiếm..." name="search">
					<div class="input-group-btn">
						<button class="btn btn-default" type="submit">
							<i class="glyphicon glyphicon-search"></i>
						</button>
					</div>
				</div>
			</form>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4">
			<a href="/">
				<p id="logo"> HTEAM </p>
			</a>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4">
			<div id="shopping">
				<a class="go-cart" href="/giohang/">
					<img id="cart" src="/images/iconcart.png">
					<span>Giỏ hàng của bạn</span>
					<span class="total">{{session.cart.totalQty}}</span>
				</a>
			</div>
		</div>
	</div>
</header>

